@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "tailwindcss";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply transition-colors duration-200;
    }

    body {
        @apply bg-white text-black dark:bg-black dark:text-white;
    }
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
}

button {
    cursor: pointer;
}